.App {
  background-color: #f5f6fb;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.maintitle {
  display: flex;
  align-items: center;
}
.maintitle-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.maintitle-square {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  border: black solid 1px;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.25rem;
  font-size: 3rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem;
}

.block:first-child,
.block:nth-child(5),
.block:nth-child(2) {
  grid-column-end: span 2;
}

.block:nth-child(4) {
  grid-column-end: span 3;
}

.block {
  background-color: white;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  box-shadow: gray 0px 0px 4px;
  transition: box-shadow 0.2s;
}
.block:hover {
  box-shadow: gray 0px 2px 4px;
}
.block-container {
  display: flex;
  align-items: center;
}
.block-title {
  margin-right: 4px;
}
.signal {
  display: flex;
  align-items: center;
}

.signal-tag {
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  min-width: 32px;
  font-weight: bold;
}
.signal-text {
  margin-left: 4px;
  font-weight: 400;
}

.rain {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.rain-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.rain-item div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 4px;
  box-shadow: lightgray 0px 2px 2px;
}
.subtitle {
  font-weight: 400;
  margin: 0.25rem 0;
}
.waterlevel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.waterlevel-item {
  width: 100%;
  text-align: center;
}
.waterlevel-graph {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.waterlevel-graph div {
  padding: 0.5rem 0;
  background-color: gray;
  width: 90%;
  border-radius: 4px;
  margin: 2px 0;
  opacity: 0.4;
  color: white;
}
.waterlevel-graph div:first-child {
  background-color: crimson;
}
.waterlevel-graph div:nth-child(2) {
  background-color: goldenrod;
}
.waterlevel-graph div:last-child {
  background-color: green;
}
.waterlevel-item p {
  margin-top: 0.5rem;
}
.pump {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}
.pump div {
  background-color: lightblue;
  height: 1.5rem;
  border-radius: 4px;
  box-shadow: gray 0px 2px 2px;
}
.pump div:last-child {
  background-color: rgb(117, 117, 179);
}
.pump-legend {
  display: flex;
  justify-content: center;
}
.pump-legend-item {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
.pump-legend-item div {
  width: 1rem;
  height: 1rem;
  background-color: lightblue;
  margin-right: 4px;
  box-shadow: gray 0px 2px 1px;
}
.pump-legend-item:last-child div {
  background-color: rgb(117, 117, 179);
}
.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary-info {
  display: flex;
  margin: 0.5rem 0;
  min-width: 80%;
}
.summary-info h3 {
  margin-right: 0.5rem;
}
.summary-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
}
.summary-score div {
  border-radius: 50%;
  border: black solid 4px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0.5rem 0;
}
.loading {
  width: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner {
  width: 1rem;
  height: 1rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: rgb(78, 205, 205);
  border-left-color: rgb(61, 110, 154);
  border-right-color: rgb(61, 110, 154);
  border-radius: 50%;
  animation: loading 2s infinite linear;
}
@keyframes loading {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.update {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
}
.update-button {
  font-size: 1.2rem;
  padding: 4px 1rem;
  border-radius: 2rem;
  background-color: rgb(61, 110, 154);
  color: white;
  border: none;
  box-shadow: 0px 4px rgb(120, 183, 183);
  margin-bottom: 0.5rem;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.update-button:hover {
  cursor: pointer;
  background-color: rgb(38, 70, 98);
  box-shadow: 0px 4px rgb(61, 110, 154);
}
.update p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 1200px) {
  .source {
    display: none;
  }
  .blocks {
    grid-template-columns: 1fr 1fr;
  }
  .block:first-child,
  .block:nth-child(5),
  .block:nth-child(2),
  .block:nth-child(4) {
    grid-column-end: span 1;
  }
}
@media only screen and (max-width: 960px) {
  .block:first-child,
  .block:nth-child(5) {
    grid-column-end: span 2;
  }
  .rain,
  .waterlevel-container {
    grid-template-columns: 1fr;
  }
  .waterlevel-container {
    row-gap: 1rem;
  }
  .rain {
    margin-top: 1rem;
  }
  .header {
    flex-direction: column;
    align-items: baseline;
  }
  .header h1 {
    margin-left: 0;
  }
  .update {
    margin: 0 0 0 1rem;
    align-items: baseline;
  }
}
@media only screen and (max-width: 600px) {
  .blocks {
    grid-template-columns: 1fr;
  }
  .block:first-child,
  .block:nth-child(5),
  .block:nth-child(2),
  .block:nth-child(4) {
    grid-column-end: span 1;
  }
  .summary {
    flex-direction: column;
    align-items: baseline;
  }
  .summary-score {
    align-self: center;
    margin-top: 1rem;
  }
  .maintitle {
    flex-direction: column;
    width: 100vw;
    margin: 1rem 0;
  }
  .maintitle h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .header,
  .update {
    align-items: center;
  }
}
